PORT=5000
NODE_ENV=development
MONGO_SOURCE=local
MONGO_URI_LOCAL=mongodb://127.0.0.1:27017/cardio-diabetic
MONGO_URI_ATLAS=mongodb+srv://<USERNAME>:<PASSWORD>@<CLUSTER_URL>/cardio-diabetic?retryWrites=true&w=majority
JWT_SECRET=replace_with_strong_secret
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
UPLOAD_DIR=uploads
